@* CREATING A PARTIAL for Target Category *@
@* Goal: Is to have this be a view page that shows the target category (that was clicked at on the previous "CombinedCategoryHome.cshtml" view page). This page will be made of two partials  *@


@model MyViewModel

<div class="container">

<div>
    <a asp-controller="Product" asp-action="CombinedProductHome">Products</a>
    <P>|</P>
    <a asp-controller="Category" asp-action="CombinedCategoryHome">Categories</a>
</div>

    <h1 value="@Model.Category.CategoryId">@Model.Category.CategoryName</h1>
    <div class="row mt-5">
        <div class="col-md">
            @await Html.PartialAsync("_BasicProductList", Model.SingleCategory )
        </div>
        <div class="col-md">
            @await Html.PartialAsync("_AddProduct", Model)
        </div>
    </div>
</div>
