@* Add a Product Partial *@

@model MyViewModel


<div class="d-flex flex-column justify-content-center align-items-center">
    <h1>Add Product</h1>
    <hr class="w-75"/>

    <form asp-action="NewCategoryAssociation" asp-controller="Category" method="post" class="shadow p-3 rounded d-flex flex-column p-2 justify-content-center w-100">
        <div class="d-flex">
            @* adding hidden into the form *@
            <input type="hidden" name="CategoryId" value="@Model.Category.CategoryId">
            <div class="d-flex">
            @* Column 2 - section *@
                <div class="mb-3 w-100 me-2 text-center">
                    <label name="ProductId"></label>
                    <select class="form-control" name="ProductId">
                        <option value="" selected disabled>Select a Product</option>
                        @foreach (Product product in Model.unlinkedProducts)
                        {
                        <option value="@product.ProductId">@product.ProductName </option>
                        }
                    </select>

                </div>
            </div>

        </div>
        <br>
        <div class="text-end me-5"><button class="btn btn-outline-dark shadow">Add </button>
        </div>
    </form>


</div>
