@* WORK IN PROGRESS ---- COMINING GET ALL PRODUCTS AND CREATE PRODUCT *@

@model MyViewModel
<div class="d-flex">
    @await Html.PartialAsync("_ProductList")
    @await Html.PartialAsync("_NewProduct")
</div>

