@* WORK IN PROGRESS ---- Combining GET ALL PRODUCTS AND CREATE PRODUCT *@

@model MyViewModel

<div class="container">
    
<div>
    <a asp-controller="Product" asp-action="CombinedProductHome">Products</a>
    <P>|</P>
    <a asp-controller="Category" asp-action="CombinedCategoryHome">Categories</a>
</div>

    <div class="row mt-5">
        <div class="col-md">
            @await Html.PartialAsync("_NewProduct")
        </div>
        <div class="col-md">
            @await Html.PartialAsync("_ProductList")
        </div>
    </div>


