@* CREATING A PARTIAL for Target Product *@
@* Goal: Is to have this be a view page that shows the target product (that was clicked at on the previous "CombinedProductHome.cshtml" view page). This page will be made of two partials  *@

@model MyViewModel

<div class="container">
<div>
    <a asp-controller="Product" asp-action="CombinedProductHome">Products</a>
    <P>|</P>
    <a asp-controller="Category" asp-action="CombinedCategoryHome">Categories</a>
</div>

    <h1 value="@Model.Product.ProductId">@Model.Product.ProductName</h1>
    <div class="row mt-5">
        <div class="col-md">
            @await Html.PartialAsync("_BasicCategoryList", Model.SingleProduct)
        </div>
        <div class="col-md">
            @await Html.PartialAsync("_AddCategory", Model)
        </div>
    </div>
</div>